<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    Великий завод з виробництва електромобілів удосконалює свою систему автопілота і потребує вашої допомоги для реалізації програми, яка вирішує, чи потрібно автомобілю B, що їде посередині між двома автомобілями A і C, прискорюватися, сповільнюватися або підтримувати поточну швидкість. Автомобілі однакові, а датчики автопілота надаватимуть поточне положення задньої частини трьох автомобілів на уявній осі. Дивіться приклад на малюнку.
</p>

<p style="text-align:center">
    <img  title="example" src="{{MEDIA}}Captura de Tela 2023-05-12 às 09.49.12.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    Автомобіль B потрібно прискорити, якщо відстань від його задньої частини до задньої частини автомобіля A менша, ніж відстань від його задньої частини до задньої частини автомобіля C. Якщо більша, то потрібно сповільнитись. Якщо відстань однакова, то потрібно зберігати поточну швидкість. 
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Три цілих числа <span>({% if is_js %}number{% else %}int{% endif %})</span>які задають поточні положення задніх частин автомобілів A, B та C відповідно.
</p>

<p>
   <strong>Виведіть:</strong> Ціле число 1, якщо автомобілю B потрібно прискоритись; -1, якщо потрібно сповільнитись; або 0, якщо потрібно зберегти поточну швидкість.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пояснення:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Вхідні дані:</strong>
    <ul>
    <li><i>A &lt; B &lt; C</i></li>
    </ul>
</p>