<!-- Describe task in general -->
<p style="text-align: justify;">
    Une grande usine de voitures électriques apporte des améliorations à son système de pilotage automatique et a besoin de votre aide pour mettre en œuvre un programme qui décide si la voiture B, qui roule au milieu de deux voitures A et C, doit accélérer, décélérer ou maintenir sa vitesse actuelle. Les voitures sont identiques et les capteurs du pilote automatique fourniront la position actuelle de l'arrière des trois voitures sur un axe imaginable. Vous trouverez un exemple dans la figure.
</p>

<p style="text-align:center">
    <img  title="example" src="{{MEDIA}}Captura de Tela 2023-05-12 às 09.49.12.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    La voiture B doit être accélérée si la distance entre son arrière et l'arrière de la voiture A est inférieure à la distance entre son arrière et l'arrière de la voiture C. Si elle est supérieure, elle doit être décélérée. Si elle est identique, elle doit maintenir sa vitesse actuelle. 
</p>

<!-- Explain input and output values -->
<p>
   <strong>Données d'entrée:</strong> Trois nombres entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>qui représentent les positions actuelles de l'arrière des voitures A, B et C, respectivement.
</p>

<p>
   <strong>Sortie:</strong> Un entier 1 si la voiture B doit accélérer; -1 si elle doit décélérer; ou 0 si elle doit maintenir sa vitesse actuelle.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Conditions préalables:</strong>
    <ul>
    <li><i>A &lt; B &lt; C</i></li>
    </ul>
</p>