<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    A large electric car factory is making improvements to its autopilot system and needs your help to implement a program that decides whether car B, which is driving in the middle of two cars A and C, needs to accelerate, decelerate or maintain its current speed. The cars are the same and the autopilot sensors will provide the current position of the rear of the three cars on an imaginable axis. See an example in the figure.
</p>

<p style="text-align:center">
    <img  title="example" src="{{MEDIA}}autopilot.png" alt="example" style="max-height: 300px"/>
</p>

<p style="text-align: justify;">
    Car B needs to be accelerated if the distance from its rear to the rear of car A is less than the distance from its rear to the rear of car C. If it is greater, it needs to be decelerated. If it's the same, it needs to maintain its current speed. 
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Three integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>, which represent the current positions of the backs of cars A, B and C, respectively.
</p>

<p>
    <strong>Output:</strong> An integer 1 if car B needs to accelerate; -1 if it needs to decelerate; or 0 if it needs to maintain its current speed.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>A < B < C</i></li>
    </ul>
</p>